body {
  margin: 0;
  background-color: #faf7f2;
  color: #2c1a2c;
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

/* General */

h1,
h2,
h3,
p {
  margin: 0; 
}

h1,
h2,
h3 {
  font-family: "Cormorant Infant", serif;
}

p,
li {
  line-height: 1.5;
}

.inner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cta {
  background-color: #d46a6a;
  border: none;
  color: #faf7f2;
  padding: 0.813em 1.875em;
  font-size: 0.938rem;
  letter-spacing: 0.2rem;
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;
}

.cta:hover {
  background-color: #b55252;
}

header {
  padding: 0.85em 0;
}

main {
  padding: 5em 0;
}

nav ul {
  display: flex;
  justify-content: center;
  gap: 2.5em;
  list-style-type: none;
}

nav a {
  text-decoration: none;
  color: #d46a6a;
  font-size: 1.375rem;
  font-family: "Cormorant Infant", serif;
}

header,
footer {
  background-color: #1e1e1e;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #d46a6a;
  font-family: "Cormorant Infant", serif;
  padding: 10px 0;
}

/* About */

.hero {
  display: flex;
  gap: 3.125em;
}

.hero h1 {
  font-size: 3.125rem;
  padding-bottom: 0.2em;
}

.hero p {
  text-align: center;
}

.hero img {
  width: 300px;
  border-radius: 50%;
}

.hero-title-box {
  text-align: center;
}

.hero-btn {
  margin-top: 2.5em;
}

.character-container {
  display: flex;
  align-items: flex-start;
  gap: 9em;
}

.character {
  padding-top: 3.75em;
  padding-left: 20px;
}

.character h2 {
  text-transform: uppercase;
}

.character-inventory h2 {
  text-align: center;
}

.character-inventory li {
  list-style-type: "\2B9A ";
  padding-left: 0.313em;
}

.character-class {
  font-size: 0.8rem;
  padding-bottom: 0.8em;
  font-family: "Cormorant Infant", serif;
  font-weight: 700;
}

.quotation {
  padding-top: 3.75em;
}

.quotation h3 {
  border-top: solid 1px #d46a6a;
  text-align: center;
  padding: 0.625em 0;
}

.quotation p {
  font-style: italic;
  border-bottom: solid 1px #d46a6a;
  text-align: center;
  padding-bottom: 0.625em;
}

/* Progress bar */

.progress-container {
  width: 200px;
  height: 10px;
  background-color: #d46a6a;
  border-radius: 10px;
}

.progress {
  display: flex;
  align-items: center;
  gap: 1.25em;
}

.progress p {
  font-family: "Inter", sans-serif;
  width: 80px;
}

/* Journey */

.journey-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.trial-container {
  flex-basis: 260px;
}

.journey-container li {
  list-style-type: "\2B9A";
  padding-left: 0.313em;
}


.title-journey {
  text-align: center;
  font-size: 3.125rem;
  padding-top: 0.85em;
}

/* Wisdom */

.wisdom-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wisdom-container h2 {
  padding: 2em;
}

.wisdom-container p {
  max-width: 500px;
  font-style: italic;
  text-align: center;
  padding: 2.5em 2em 0;
}

.wisdom-container img:hover {
  opacity: 0.5;
  cursor: pointer;
}

.page-border {
  margin: 0 auto;
}

/* Gallery */

.gallery-title {
  text-align: center;
}

.gallery-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 1000px;
  margin: 0 auto; 
  gap: 0.625em;
  padding: 50px 10px 0;  
}

.gallery-container img {
  border-radius: 10px;
}

/* Media */

@media (max-width: 790px) {
  main {
    padding: 3em 0;
  }

  .hero {
    flex-direction: column;
  }

  .hero img {
    margin: 0 auto;
    width: 250px;
  }

  .hero h1 {
    font-size: 2.5rem;
    padding-bottom: 0.19em;
  }

  .character-container {
    flex-direction: column;

    align-items: start;
    gap: 1.5em;
  }

  .journey-container {
    padding: 1px 3.125em;
  }

  .wisdom-container img {
    width: 270px;
  }

  .wisdom-container h2 {
    text-align: center;
  }

}

@media (max-width: 576px) {
  nav ul {
    flex-direction: column;
    align-items: center;
    gap: 0.1em;    
  }

  nav li {
    line-height: normal;
  }

  nav a {
    font-size: 1.2rem;
  }

  header {
    padding: 0.1em 0;
  }
}